
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');

  * {
    font-family: 'Mulish', sans-serif;

  }
  nav{
    display: flex;
    justify-content: space-between;
  }
  .group{

/* margin-left: 100px;
margin-right: -240px; */

  }
nav > ul{
    display: flex;
    gap: 44px;
}
nav li{
list-style: none;

}
nav li a{
    text-decoration: none;
    color:#424247;
    font-size: 18px;

    font-weight: 400;

}
.home{
  
    color: #FF5400;
}
.hero{
    color: #131318;
    font-size: 36px;
    font-weight: 800;

}
.travel{
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}
.hero-image{
  background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
  background-repeat: no-repeat;

  background-size: cover;
  position: relative;
  width: 985px;
  height: 410px;
margin-left: 170px;
margin-top: 50px;

}

.hero-text{
     text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.where{
    display: flex;
    gap: 24px;
    border-radius: 8px;
    
background: rgba(255, 255, 255, 0.30);
 
}
.explore{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    margin-bottom:  50px;
}
.dollor{
    color: #FFF;
    font-size: 11px;
    font-weight: 400;

}
.go{
    border-radius: 8px;
   background: #FFF;
   color: rgba(19, 19, 24, 0.50);
font-size: 14px;
font-weight: 400;
}
.solid{
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 14px;
    font-weight: 400;
    width: 100px;
height: 52px;
}
.down{  border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 14px;
    font-weight: 400;
}
.btn-primary{
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
background: #FF5400;
width: 154px;
height: 52px;
border: none;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.group{
    display: none;
}
.feature{
    display: flex;
    margin-top: 100px;
    gap: 30px;
}
.section-title{
    color: #131318;
font-size: 40px;
font-weight: 800;
}
.tempus{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
}
.sit{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;  
}
.amet{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}
.feature-img{
 width: 100%;
}
.read{
    border-radius: 8px;
background: #FF5400;
width: 174px;
height: 52px;
color: #FFF;
font-size: 20px;
font-weight: 800;
border: none;
}

.your{
    text-align: center;
    margin-top: 100px;
}
.choose{
    color: #131318;
font-size: 40px;
font-weight: 800;
}
.Diam{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
}


.teams-image-container{
    width: 100%;
   
}

.why{
    text-align: center;
    margin-top: 100px;
}
.us{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.odio{
    color: rgba(19, 19, 24, 0.70);

font-size: 16px;
font-weight: 400;
}
 .skill-container{
    display: flex;
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2,1fr); 
   
}
.skill{
    border-radius: 16px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 55px;
}
.files{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px 55px;
}
.skill-title{
    color: #131318;
font-size: 24px;
font-weight: 800;
}
.skill-description{
    color: #5A5A5D;
font-size: 16px;

font-weight: 400;
}
.world{
  margin-left: 300px;
  border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
padding: 32px 55px;
width: 473px;
height: 200px;
justify-content: center;
margin-top:24px;


  
}
.contact{
display: grid;
width: 30%;
gap: 16px;
}
.news-letter{
    color: #131318;
font-size: 24px;
font-weight: 800;
}
.molestie{
    color: #5A5A5D;
    font-size: 16px;
}
.malesuada{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    height: 34px
    ;
    border: none;
}
.Inter{
    border-radius: 8px;
    background: #FF5400;
    height: 34px;
    border: 0;
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 800;


}
.section{
   
    
 
}
.section-b{
    
}
.images-con{
    width: 80%;
    height: 50%;
    margin-left: 9%;
}
.feature-content-2{
    margin-left: 15%;
}
  

/* 
respobnsive section */
                               
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;

    }
    nav > ul{
        flex-direction: column;
    }
    .group{
        height: 25px;
        width: 28px;
     
    }
    .group{
        display: block;
    }
    .hero-image{
        width: 735px;
        height: 576px;
      margin-left: -249px;
      margin-top: 17px;
    }

    .where{
        flex-direction: column;
        border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
    }
    .hero-text{
        /* text-align: center;
        position: absolute;
        top: 34%;
        left: 59%;
        transform: translate(-47%, -50%); */
    }  

    .explore{
        color: #FFF;
        font-size: 35px;
        font-weight: 800;
   
       margin-left: 246px;
}
.dollor{
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    margin-left: 246px;

}

.solid ,.go ,.down{
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 14px;
    font-weight: 400;
    width: 360px;
height: 52px;
margin-left: 246px;
}
.btn-primary{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
background: #FF5400;
width: 360px;
height: 52px;
margin-left: 246px
}

.feature{
    flex-direction: column;

}
.feature-img img{
    width: 60%;
    margin-left: 30px;
 
}
.section-title ,.choose{
    font-size: 30px;
}
.sit ,.tempus ,.amet ,.Diam{
    font-size: 20px;
}
.read{
    margin-left: 90px;
}
.teams-image-container img{
width: 60%;
}
.skill-container{
    flex-direction: column;
    grid-template-columns: 1fr;
 
    width: 50%;
}
.world{
    width: 162px;
    height: 366px;
    margin: auto;
    margin-left: 1px;
    margin-top: 40px;
   


}
.images-con img{
    width: 60%;
    margin-left: 30px;
} 


}